<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Admin Dashboard</h1>

<h2>Hotels</h2>
<ul>
    <li th:each="hotel : ${hotels}" th:text="${hotel.name} + ' (' + hotel.stars + ' stars)'"></li>
</ul>

<h2>Rooms</h2>
<ul>
    <li th:each="room : ${rooms}"
        th:text="'Room #' + ${room.roomNumber} + ' - ' + ${room.type} + ', Hotel: ' + ${room.hotel.name} + ', Available: ' + ${room.isAvailable}">
    </li>
</ul>

<h2>Bookings</h2>
<ul>
    <li th:each="booking : ${bookings}"
        th:text="'Booking #' + ${booking.bookingNumber} + ' | Tourist: ' + ${booking.tourist.username} + ' | Room: ' + ${booking.room.roomNumber}">
    </li>
</ul>

<h2>Tourists</h2>
<ul>
    <li th:each="tourist : ${tourists}"
        th:text="${tourist.name} + ' (' + tourist.username + ')'">
    </li>
</ul>

<h2>Managers</h2>
<ul>
    <li th:each="manager : ${managers}"
        th:text="${manager.username}">
    </li>
</ul>

<h2>Cashiers</h2>
<ul>
    <li th:each="cashier : ${cashiers}"
        th:text="${cashier.username}">
    </li>
</ul>

<a th:href="@{/admin/rooms}">➕ Add Room</a>


</body>
</html>
